<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Activities Manager</title>
    <link href="~/lib/Semantic-UI-master/dist/semantic.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div style="background-color:darkblue; margin-bottom: -5px;" class="ui large inverted secondary pointing menu">
        <a class="item" href="/">
            <h2>AManager</h2>
        </a>
        <a class="active item" href="/">
            Inicio
        </a>
        <a class="item" href="/Proyectos">
            Proyectos
        </a>
        <a class="item" href="/Actividades">
            Actividades
        </a>
        <div class="right menu">
            <a class="ui item" href="/">
                Josué Mercadillo
            </a>
        </div>
    </div>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Semantic-UI-master/dist/semantic.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
