@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Index";
}

<div style="background-color:darkgrey; width: 100%;" class="ui breadcrumb">
    <a class="section">Ubicación</a>
    <i class="right arrow icon divider"></i>
    <a class="section" href="/">Inicio</a>
    <span class="divider">/</span>
    <a class="section active">Proyectos</a>
</div>

<div class="ui segment">
    Lista de proyectos existentes.
</div>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
        </tr>
        }
    </tbody>
</table>